# Clerk (get keys at https://dashboard.clerk.com)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_d29uZHJvdXMtcHVtYS04NS5jbGVyay5hY2NvdW50cy5kZXYk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_d29uZHJvdXMtcHVtYS04NS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_6j9ZPhRDWOt6FByBfB51B1FATgrcT6SIbssFSnIpbQ