# Mapbox Access Token
# Get your token from https://account.mapbox.com/access-tokens/
VITE_MAPBOX_TOKEN=pk.eyJ1IjoiZmVybGl4eHgiLCJhIjoiY2xvbXFvcm8xMnBkMTJrbjA4bXF4NnBhdyJ9.Jzb2pKR5fsS2Nj3OikRLJg

# API Configuration
VITE_ELLIPSIS_API_BASE=https://api.ellipsis-drive.com/v3
VITE_ELLIPSIS_PATH_ID=b11909f0-3c51-4ab2-a57e-ffaa60335770
